/** General styling **/
body { 
	margin: 0; 
	font-size: 13px; 
	color: #222; 
	font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;
}

/** Style by ID **/
#wrapper { 
	-webkit-box-shadow: 0 0 0 0 transparent;
	-moz-box-shadow: 0 0 0 0 transparent;
	box-shadow: 0 0 0 0 transparent;
}

/** Style by Class **/
.job-description {
	padding-bottom: 10px;
}

/** Bootstrap overrides **/
.dl-horizontal dt {
  width: 100px; /*original:160*/
}
.dl-horizontal dd {
  margin-left: 120px;/*original:180*/
}